---
import BookingStepSection from '../components/UI/section/BookingStepSection.astro';
---
<html lang="en">
  <head>
    <title>Booking Step by Step | VyBrows Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background:#f5f9f7;">
    <BookingStepSection />
  </body>
</html>
